<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ./partial/global/css.ejs %>
</head>
<body>
    <div class="container">
        
        <div class="page-header text-center">
          <h1><span class="fa fa-anchor"></span><small>PROFILE PAGE</small></h1>
          <a class="btn btn-danger" href="/logout">Logout</a>
        </div>
        
        <!-- LOCAL USER INFORMATION -->
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>
                    <p>
                        <strong>Id</strong> : <%= user._id %><br />
                        <strong>Username</strong> : <%= user.local.username %><br />
                        <strong>Password</strong> : <%= user.local.password %><br />
                    </p>
                </div>
            </div>
        </div>
            
        <!-- FACEBOOK INFORMATION -->
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="well">
                    <h3><span class="fa fa-facebook"></span> Facebook</h3>
                    <p>
                        <strong>Id</strong> : <%= user.facebook.id %><br />
                        <strong>Token</strong> : <%= user.facebook.token %><br />
                        <strong>Email</strong> : <%= user.facebook.email %><br />
                        <strong>Username</strong> : <%= user.facebook.name %><br />
                    </p>
                </div>
            </div>
        </div>
            
        <!-- GOOGLE INFORMATION -->
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="well">
                    <h3><span class="fa fa-google"></span> Google</h3>
                    <p>
                        <strong>Id</strong> : <%= user.google.id %><br />
                        <strong>Token</strong> : <%= user.google.token %><br />
                        <strong>Email</strong> : <%= user.google.email %><br />
                        <strong>Username</strong> : <%= user.google.name %><br />
                    </p>
                </div>
            </div>
        </div>
            
    </div>
    <% include ./partial/global/js.ejs %>
</body>
</html>